extends layout

block layout-content
	div.view
		div.wrapper
			img#deer(src="/assets/textures/source.gif")
		div.dog
			img#dog(src="/assets/textures/dog-head-transparent-4.gif")
		form
			input(type='text')
		div.background.js-loop
			img(src='/assets/textures/Stromboli_3D_version1.gif')
			img(src='/assets/textures/Stromboli_3D_version1.gif')
			img.is-clone(src='/assets/textures/Stromboli_3D_version1.gif')
			img.is-clone(src='/assets/textures/Stromboli_3D_version1.gif')
		

