block variables 
doctype html
html
	head
		meta(charset="utf-8")
		link(rel = "shortcut icon" href="/favicon.ico")
		link(rel="stylesheet" href="/css/style.css")
		meta(name = "viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color", content='#000000')
		title #{title} | TESTSITE
		//- link(rel="stylesheet" type='text/css' href="style/style.css")
		script(src = 'three/three.min.js')
	body
		div#rootDiv
			block layout-content
		script(type="module" src = 'js/cloth.js')
		script(src = 'js/bgscroll.js')
		//- script(type="module" src = 'js/fresh3.js')